[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
google-cloud-storage = "*"
google-cloud-aiplatform = "*"
sqlalchemy = "*"
vertexai = "*"
gunicorn = "*"
pydantic = "*"
uuid = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-env = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
